* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.dark {
  background-color: #111;
  color: white;
}

body.dark nav ul li {
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gradientColor {
    margin: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, rgb(54, 73, 243), rgb(45, 244, 141), rgb(236, 67, 242), rgb(235, 44, 72));
   /*  text-shadow: 5px 10px 5px rgb(247, 247, 245); */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px'
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

nav ul a {
    text-decoration: transparent;
}

nav ul a:hover {
 text-decoration: underline;
 color: blue;
 font-size: 1.1em;
 transition: 0.2s;
 font-weight: 500;
}

nav ul li {
    list-style-type: none;
    margin: 10px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
}

button {
    border: transparent;
    margin: 10px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

button img {
    width: 44px;
    height: 44px;
    object-fit: contain;
    border-radius: 50%;
    background-color: transparent;
}

@keyframes hourglassFlip {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(1.10); /* little zoom 🔥 */
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.animate {
  animation: hourglassFlip 0.6s ease-in-out;
}





